{% extends 'base_user_center.html' %}
{% load static from staticfiles %}
{% block page_title %}全部订单{% endblock page_title %}
{% block right_content %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {#  查询df_order_info 数据表，列出所有订单信息  #}
                {% if info_msg %}
                    {% for order_info in order_infos_page %}
                        {# 显示订单 #}
                        <ul class="order_list_th w978 clearfix">
                            <li class="col01">{{ order_info.create_time }}</li>
                            <li class="col02">订单号：{{ order_info.order_id }}</li>
                            <li class="col02 stress">{{ order_info.status }}</li>
                        </ul>

                        <table class="order_list_table w980">
                            <tbody>
                                <tr>
                                    <td width="55%">
                                        {% for order_good in order_info.order_goods %}
                                            {# 显示订单商品 #}
                                            <ul class="order_goods_list clearfix">
                                            <li class="col01"><img src="{{ order_good.sku.image.url }}"></li>
                                            <li class="col02">{{ order_good.sku.name }}<em>{{ order_good.sku.price }}元/{{ order_good.sku.unite }}g</em></li>
                                            <li class="col03">{{ order_good.count }}</li>
                                            <li class="col04">{{ order_good.price }}元</li>
                                        </ul>
                                        {% endfor %}



                                    </td>
                                    <td width="15%">{{ order_info.total_price }}元</td>
                                    <td width="15%">{{ order_info.status }}</td>
                                    <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% else %}
                    您暂无订单
                {% endif %}
				

                <div class="pagenation">
                {% if order_infos_page.has_previous  %}
				<a href="{% url 'user:order' order_infos_page.previous_page_number %}">&lt;上一页</a>
                {% endif %}
                {% for pindex in pages %}
				<a href="{% url 'user:order' pindex %}" {% if pindex == order_infos_page.number %}class="active"{% endif %}>{{ pindex }}</a>
				{% endfor %}
                {% if order_infos_page.has_next %}
				<a href="{% url 'user:order' order_infos_page.next_page_number %}">下一页&gt;</a>
                {% endif %}
			    </div>


		</div>
	</div>
{% endblock right_content %}